
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Yeni Hizmet Ekleme</h2>
<form method="post">
    <label>Hizmet Başlığı</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <button class="btn btn-success">Hizmeti Kaydet</button>
</form>

